<!--Maja Kubara Computationa social science-->
<!DOCTYPE html>
<html lang ="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Surveillance tools</title>
        <link rel="stylesheet" href ="static\styles.css">
        <div class="logo-background">
        <a href ="https://atlasofsurveillance.org"><img class = "logo" src="static\Logo-AOS.png" alt = "Atlas of Surveillance"></a>
        </div>
        <nav>
            <ul class="navigation-bar">
                <li class = "active"><a href="main-page.html">Home</a></li>
                <li><a href="map.html">  Map </a></li>
                <li><a href="statistics.html">Statistics</a></li>
            </ul>
        </nav>
    </head>
    <body style="background-color: black;">
        <div class="about">
            About
        </div>
        <div class="purpose-text">
            This website gathers data from Atlas of Surveillance to spread and raise awareness about surveillance technologies that are used across the US. The data is presented in a graph and a map to illustrate the number of different surveillance tools used per state.
        </div>
        <div class="AOS-title">
           What is Atlas of Surveillance
        </div>
        <div class="AOS-text">
            Atlas of Surveillance is a collaboration between the Electronic Frontier Foundation and the University of Nevada, Reno Reynolds School of Journalism. It consists of a map that provides information about different law enforcement agencies’ surveillance technologies. The website's goal is to create an open source that provides data about what’s been purchased locally and how technologies are spreading across the country.
        </div>
    </body>
</html>