<!--Maja Kubara Computationa social science-->
<!DOCTYPE html>
<html lang ="en">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Surveillance tools</title>
        <link rel="stylesheet" href ="static\styles.css">
        <div class="logo-background">
            <a href ="https://atlasofsurveillance.org"><img class = "logo" src="static\Logo-AOS.png" alt = "Atlas of Surveillance"></a>
        </div>
        <nav>
            <ul class="navigation-bar">
                <li><a href="main-page.html">Home</a></li>
                <li class="active"><a href="map.html">  Map </a></li>
                <li><a href="statistics.html">Statistics</a></li>
            </ul>
        </nav>
    </head>
    <body style="background-color: black;">
        <div class="map-text">
            Most used surveillance technology tools by law enforcement agencies per state
        </div>
        <br><br>
        <div class="map-description">
            Hover on the map too view each state's most used surveillance technology by law enforcement agencies 
        </div>
        <div class="map">
            <iframe title="" aria-label="Map" id="datawrapper-chart-0PAy2" src="https://datawrapper.dwcdn.net/0PAy2/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="491" data-external="1"></iframe>
            <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();</script>
        </div>
    </body>
</html>